FutureEngine/tmp/
*.lastcodeanalysissucceeded
*.opensdf
objs/
*Fake*.so
*.DS_Store
xcuserdata/
*.xcuserstate
*.suo
*.sdf

FutureEngine/projects/FutureCore/FutureCore.xcodeproj/xcuserdata/
FutureEngine/projects/FutureCore/FutureCore.xcodeproj/project.xcworkspace/xcuserdata/

FutureEngine/projects/FutureCore/FutureCore.xcodeproj/xcuserdata/
